{{ form_start(form) }}
{#    {{ form_widget(form) }}#}

<div class="form-group mb-4">
    {{ form_label(form.titre, 'Nom de l\'article', {'label_attr': {'class': 'text-right'}}) }}
    {{ form_widget(form.titre, {'attr': {'class': 'form-control mt-2'}, 'placeholder': 'Entrez le nom de l\'article'}) }}
</div>

<div class="form-group mb-4">
    {{ form_label(form.slug, 'Slug', {'label_attr': {'class': 'text-right'}}) }}
    {{ form_widget(form.slug, {'attr': {'class': 'form-control mt-2'}, 'placeholder': 'Titre sans espace ni caractére spéciaux'}) }}
</div>

<div class="form-group mb-4">
    {{ form_label(form.description, 'Description de l\'article', {'label_attr': {'class': 'text-right'}}) }}
    {{ form_widget(form.description, {'attr': {'class': 'form-control'}, 'type': 'textarea', 'rows': 4, 'placeholder': 'Entrez une courte description de l\'article', 'rows': 4}) }}
</div>

<div class="form-group mb-4">
    {{ form_label(form.image, 'Image de l\'article', {'label_attr': {'class': 'text-right'}}) }}
    {{ form_widget(form.image, {'attr': {'class': 'form-control'}, 'placeholder': 'Entrez l\'URL de l\'image de l\'article'}) }}
</div>

<div class="form-group mb-4">
    {{ form_label(form.prix, 'Prix de l\'article', {'label_attr': {'class': 'text-right'}}) }}
    {{ form_widget(form.prix, {'attr': {'class': 'form-control'}, 'type': 'number', 'step': '0.01', 'placeholder': 'Entrez le prix de l\'article'}) }}
</div>

<div class="form-group mb-4">
    {{ form_label(form.idCateg, 'Categorie', {'label_attr': {'class': 'text-right'}}) }}
    {{ form_widget(form.idCateg, {'attr': {'class': 'form-control'}, 'placeholder': 'Selectionner une categorie'}) }}
</div>

<button class="btn btn-primary mt-4 ms-auto">{{ button_label|default("Ajouter l'article") }}</button>

{{ form_end(form) }}